In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
pd.__version__

'2.3.2'

In [10]:
num_rows, num_cols = df.shape

In [11]:
print(f"Number of rows: {num_rows}, Number of columns: {num_cols}")

Number of rows: 9704, Number of columns: 11

In [12]:
df['fuel_type'].nunique()

2

In [13]:
df['origin'].nunique()

3

In [14]:
print(df.isna())

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                   False          False       False           False
1                   False          False       False           False
2                   False           True       False           False
3                   False          False        True           False
4                   False          False       False           False
...                   ...            ...         ...             ...
9699                False          False       False           False
9700                False           True       False           False
9701                False          False       False           False
9702                False          False       False           False
9703                False          False       False           False

      acceleration  model_year  origin  fuel_type  drivetrain  num_doors  \
0            False       False   False      False       False      False
1            False       False   False      False       False      False
2            False       False   False      False       False      False
3            False       False   False      False       False      False
4            False       False   False      False       False      False
...            ...         ...     ...        ...         ...        ...
9699         False       False   False      False       False       True
9700         False       False   False      False       False      False
9701         False       False   False      False       False      False
9702         False       False   False      False       False      False
9703         False       False   False      False       False      False

      fuel_efficiency_mpg
0                   False
1                   False
2                   False
3                   False
4                   False
...                   ...
9699                False
9700                False
9701                False
9702                False
9703                False

[9704 rows x 11 columns]

In [15]:
missing_per_column = df.isnull().sum()

In [16]:
print("Missing values per column:")

Missing values per column:

In [17]:
print(missing_per_column)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [18]:
total_missing = df.isnull().sum().sum()

In [17]:
print(f"Total missing values in DataFrame: {total_missing}")

Total missing values in DataFrame: 2622

In [30]:
print(df.loc[df['origin'] == 'Asia'])

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                     250            1.0       174.0     2714.219310
12                    320            5.0       145.0     2783.868974
14                    200            6.0       160.0     3582.687368
20                    150            3.0       197.0     2231.808142
21                    160            4.0       133.0     2659.431451
...                   ...            ...         ...             ...
9688                  260            4.0         NaN     3948.404625
9692                  180            3.0       188.0     3680.341381
9693                  280            2.0       148.0     2545.070139
9698                  180            1.0       131.0     3107.427820
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8             10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12            15.1        2010   Asia    Diesel    All-wheel drive        1.0
14            14.9        2007   Asia    Diesel    All-wheel drive        0.0
20            18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21             NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0
...            ...         ...    ...       ...                ...        ...
9688          15.5        2018   Asia    Diesel    All-wheel drive       -1.0
9692          18.0        2016   Asia  Gasoline  Front-wheel drive        1.0
9693          15.6        2012   Asia    Diesel    All-wheel drive        0.0
9698          13.2        2005   Asia  Gasoline  Front-wheel drive       -2.0
9703          14.7        2005   Asia    Diesel    All-wheel drive       -1.0

      fuel_efficiency_mpg
8               16.823554
12              16.175820
14              11.871091
20              18.889083
21              16.077730
...                   ...
9688            11.054830
9692            11.711653
9693            17.202782
9698            13.933716
9703            14.884467

[3247 rows x 11 columns]

In [20]:
print(df['horsepower']).median()

0       159.0
1        97.0
2        78.0
3         NaN
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

AttributeError: 'NoneType' object has no attribute 'median'

In [21]:
print(df['horsepower'].median())

149.0

In [22]:
df['vehicle_weight'].sum()

np.float64(29124430.759692904)

In [23]:
print(df['horsepower'].median())

149.0

In [24]:
print(df['horsepower'].mode())

0    152.0
Name: horsepower, dtype: float64

In [25]:
print(df['horsepower'].mode()[0])

152.0

In [26]:
df['horsepower']=df['horsepower'].fillna(152.0)

In [27]:
print(df['horsepower'].median())

152.0

In [28]:
print(df.isna().any())

engine_displacement    False
num_cylinders           True
horsepower             False
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [29]:
asia_cars = df[df['origin'] == 'ASIA']

In [30]:
print(asia_cars)

Empty DataFrame
Columns: [engine_displacement, num_cylinders, horsepower, vehicle_weight, acceleration, model_year, origin, fuel_type, drivetrain, num_doors, fuel_efficiency_mpg]
Index: []

In [31]:
asia_cars = df[df['origin'] == 'asia']

In [32]:
print(asia_cars)

Empty DataFrame
Columns: [engine_displacement, num_cylinders, horsepower, vehicle_weight, acceleration, model_year, origin, fuel_type, drivetrain, num_doors, fuel_efficiency_mpg]
Index: []

In [33]:
asia_cars = df[df['origin'] == 'Asia']

In [34]:
print(asia_cars)

      engine_displacement  num_cylinders  horsepower  vehicle_weight  \
8                     250            1.0       174.0     2714.219310
12                    320            5.0       145.0     2783.868974
14                    200            6.0       160.0     3582.687368
20                    150            3.0       197.0     2231.808142
21                    160            4.0       133.0     2659.431451
...                   ...            ...         ...             ...
9688                  260            4.0       152.0     3948.404625
9692                  180            3.0       188.0     3680.341381
9693                  280            2.0       148.0     2545.070139
9698                  180            1.0       131.0     3107.427820
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year origin fuel_type         drivetrain  num_doors  \
8             10.3        2016   Asia    Diesel  Front-wheel drive       -1.0
12            15.1        2010   Asia    Diesel    All-wheel drive        1.0
14            14.9        2007   Asia    Diesel    All-wheel drive        0.0
20            18.7        2011   Asia  Gasoline  Front-wheel drive        1.0
21             NaN        2016   Asia  Gasoline  Front-wheel drive       -1.0
...            ...         ...    ...       ...                ...        ...
9688          15.5        2018   Asia    Diesel    All-wheel drive       -1.0
9692          18.0        2016   Asia  Gasoline  Front-wheel drive        1.0
9693          15.6        2012   Asia    Diesel    All-wheel drive        0.0
9698          13.2        2005   Asia  Gasoline  Front-wheel drive       -2.0
9703          14.7        2005   Asia    Diesel    All-wheel drive       -1.0

      fuel_efficiency_mpg
8               16.823554
12              16.175820
14              11.871091
20              18.889083
21              16.077730
...                   ...
9688            11.054830
9692            11.711653
9693            17.202782
9698            13.933716
9703            14.884467

[3247 rows x 11 columns]

In [35]:
asia_cars = df[df['origin'] == 'Asia',['vehicle_weight','model_year']]

InvalidIndexError: (0       False
1       False
2       False
3       False
4       False
        ...
9699    False
9700    False
9701    False
9702    False
9703     True
Name: origin, Length: 9704, dtype: bool, ['vehicle_weight', 'model_year'])

In [2]:
asia_cars = df.loc[df['origin'] == 'Asia',['vehicle_weight','model_year']]

NameError: name 'df' is not defined

In [37]:
print(asia_cars)

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [3]:
print(asia_cars)

NameError: name 'asia_cars' is not defined

In [ ]:
df.head()